/*
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

body {
  display: flex;
  justify-content: center;
  color:identifiant 
.main-container {
  max-width: 1920px;
  min-width: 350px;
  width: 100%;
  background-color: #f9f7f1;
}

.main-container-header {
  padding: 100px;
  width: 100%;
}

#main-title {
  font-sidentifiant ize: 96px;
  text-align: center;
}

#place-and-date {
  text-align: center;
}

.articleidentifiant -container {
  display: flex;
  position: relative;
}identifiant 
*/

.auteur {
  font-size: 24px;
  margin: 5px 0px 5px 0px;
}

.date-de-publication {
  font-size: 18px;
  color: grey;
  margin: 5px 0px 5px 0px;
}

.modification-input-text {
  height: 100%;
  width: 100%;
  text-wrap: wrap;
}