<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
  </head>
  <body>
    <form action="/submit" method="POST">
      <label for="name" name="name">Name : </label>
      <input type="text" name="name" id="name" value="{{name}}" />
      <br />
      <label for="firstname" name="firstname">First name : </label>
      <input
        type="text"
        name="firstname"
        id="firstname"
        value="{{firstname}}"
      />
      <br />
      <label for="email" name="email">Email : </label>
      <input type="text" name="email" id="email" value="{{email}}" />
      <br />
      <label for="emailconfirmation" name="emailconfirmation"
        >Email confirmation :
      </label>
      <input
        type="text"
        name="emailconfirmation"
        id="emailconfirmation"
        value="{{emailconfirmation}}"
      />
      <br />
      <label for="password" name="password">Password : </label>
      <input type="text" name="password" id="password" value="{{password}}" />
      <br />
      <button type="submit">Submit</button>
      <br />
    </form>
  </body>
</html>
