<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accueil</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="main-container">
      <div class="main-container-header">
        <h1 id="main-title">Les dernières nouvelles</h1>
      </div>
      <hr />
      <div id="place-and-date">Québec, Montréal 2024-01-01</div>
      <hr />
      <div class="article-container">
        <h2>Les enfants malheureux</h2>
        <p>Vincent Brunelle</p>
        <p>2024-01-01</p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita,
        corrupti, beatae blanditiis hic excepturi dolorum veritatis dolores
        quasi eligendi odit laborum praesentium temporibus ipsa natus fugiat
        ullam sapiente maxime quidem.
      </div>
    </div>
  </body>
</html>
