<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accueil</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="main-container">
      <div class="main-container-header">
        <h1 id="main-title">Les dernières nouvelles</h1>
      </div>
      <hr />
      <div id="place-and-date">Québec, Montréal 2024-01-01</div>
      <hr />
      <ul>
        {% for article in articles%} {% if article[3] < '2023-01-01' %}
        <li>
          <article class="article-container">
            <h2>{{article[1]}} #{{article[0]}}</h2>
            <p class="auteur">Auteur: {{article[2]}}</p>
            <time class="date-de-publication"
              >Date de publication: {{article[3]}}</time
            >
            <p>{{article[4]}}</p>
          </article>
        </li>
        {% endif %} {% endfor %}
      </ul>
    </div>
  </body>
</html>
